## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [4]:
print("row 數:{}".format(app_train.shape[0]))
print("col 數:{}".format(app_train.shape[1]))

row 數:307511
col 數:122

#### 列出所有欄位

In [5]:
col = app_train.columns
print(col)

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [6]:
print(app_train.iloc[0:30 , 2:6])

   NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR FLAG_OWN_REALTY
0          Cash loans           M            N               Y
1          Cash loans           F            N               N
2     Revolving loans           M            Y               Y
3          Cash loans           F            N               Y
4          Cash loans           M            N               Y
5          Cash loans           M            N               Y
6          Cash loans           F            Y               Y
7          Cash loans           M            Y               Y
8          Cash loans           F            N               Y
9     Revolving loans           M            N               Y
10         Cash loans           F            N               Y
11         Cash loans           F            N               Y
12         Cash loans           F            N               Y
13         Cash loans           M            Y               N
14         Cash loans           F            N               Y
15         Cash loans           M            Y               Y
16         Cash loans           M            N               N
17    Revolving loans           F            N               Y
18    Revolving loans           F            N               Y
19         Cash loans           F            N               Y
20    Revolving loans           M            Y               Y
21         Cash loans           F            Y               Y
22         Cash loans           F            N               N
23         Cash loans           F            N               Y
24         Cash loans           M            Y               N
25         Cash loans           F            N               Y
26         Cash loans           F            N               Y
27         Cash loans           M            N               Y
28         Cash loans           M            Y               Y
29    Revolving loans           M            N               Y

#### 1.把app_train['NAME_CONTRACT_TYPE'] = Cash_loans的挑出來，再挑出app_train['AMT_INCOME_TOTAL'] <= 202500的所有值乘上2
#### 2.把app_train['NAME_CONTRACT_TYPE'] = Revolving loans的挑出來，再挑出app_train['AMT_INCOME_TOTAL'] <= 202500的所有值乘上4

In [10]:
global flag , count 
count = 1
flag = False
def operation(series):
    global flag , count 
    if flag == False:
        flag = True
        return 
    if count == 1:
        condition = (series <= 202500)
        series[condition] = series[condition] * 2
    elif count == 2:
        condition = (series <= 202500)
        series[condition] = series[condition] * 4
    count = count + 1
    return series

app_train.sort_values(by = 'NAME_CONTRACT_TYPE' , inplace = True)
new = app_train.groupby('NAME_CONTRACT_TYPE').apply(lambda x : operation(x['AMT_INCOME_TOTAL'])).reset_index()  
app_train.reset_index(inplace = True)
app_train['new'] = new['AMT_INCOME_TOTAL']
print(app_train['new'].head())

0        405000.0
10201    225000.0
10199    315000.0
10180    270000.0
10179    198000.0
Name: new, dtype: float64